{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": ["react"],
    "ignorePatterns": ["node_modules/"],
    "rules": {
        "no-unused-vars": 0,
        "no-undef": 0
    },
    "settings": {
        "react": {
            "version": "detected"
        }
    },
    "globals": {
        "JSX": true
    }
}
